*{
    padding:0;
    margin:0;
}
body{
    background: url("/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playArea{
    background: linear-gradient(rgb(155, 239, 155), rgb(248, 248, 132));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.snake{
    background-color: purple;

}
.food{
   background-color: yellow;
   border-radius: 1cm;
}
.head{
    background-color: rgb(0, 145, 255);
    
}
#Scorebox{
  position: absolute;
  top: 45px;
  right:148px;
  font-size: 39px;
  font-weight: bold;
}
#Hiscorebox{
    position: absolute;
    top:10px;
    right:100px;
    font-size:39px;
    font-weight:bold;
  }